.titleWeb {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

#formDataSave {
  margin-left: 2%;
  margin-right: 2%;
}

.buttonCancelarLegalGuardian {
  display: flex;
  justify-content: center;
  text-align: center;
}
